* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #3f49ec;
    height: 100vh; 
}

.parent-container {
    width: 100%;
    display: flex; 
    flex-direction: column;
}

/* ----- nav styling -----  */

nav {
    align-items: center; 
    background-color: #1b1e24;
    color: #ffffff; 
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.links {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    padding: 10px;
}

.links ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.links li {
    display: inline;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 25px; 
}

button {
    border-radius: 5px; 
    border: none; 
    text-align: center;
    display: block;
    padding: 0.5rem 1.2rem; 
    background-color: #3f49ec; 
    color: #ffffff; 
    cursor: pointer; 
}

nav {
    display: flex;
    flex-direction: column;
}

.msg-wrapper {
    display: inline;
    position: relative;
    padding: 8px; 
}

.msg-number {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font: 8px Arial, sans-serif;
    background-color: #3f49ec;
    text-align: center;
    line-height: 15px;
    color: #ffffff; 
}

/* ---- sales and filter by input ----- */

.filter-labels ul {
    list-style: none;
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    font-size: 13px; 
}

.filter-labels {
    padding: 0 10px;
    display: flex;
    color: white;  
}

h1 {
    color: #fefeff;  
    padding: 10px; 
    margin-bottom: 10px; 
    letter-spacing: 1px;
}

/* ----- table styling ----- */


.sales-table {
    width: 100%; 
    border-collapse: collapse;
    border-style: hidden; 
    border-radius: 5px;
}

.sales-table td, th {
    padding: 12px; 
    border: 1px solid #808080;
}

.sales-table td {
    font-size: 13px; 
}

.sales-table tr:nth-child(even) {
    background-color: #ebebeb;
}

.sales-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.sales-table th {
    background-color: #1b1e24;
    color: white; 
    text-align: left;
    padding: 15px; 
}

.table-wrapper {
    overflow: auto;
    border-radius: 5px;
}

.table-container {
    padding: 10px; 
}

.sales-header, .salesperson-header {
    cursor: pointer; 
    transition: 0.3s;
}

.sales-header:hover, .salesperson-header:hover {
    opacity: 0.8; 
}

/* ----- desktop styling -----  */

@media only screen and (min-width: 768px) {

    .logo {
        width: 20%;
        padding: 15px;
    }

    .links {
        width: 80%;
        padding: 15px;
    }

    nav {
        flex-direction: row;
    }

    .sales-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 500px;
    }
}